:root {
  --forest-g: forestgreen;
  --orange: orange;
}

/* Specific */
img {
  max-width: 100%;
}

/* Decoration */

.greca {
  height: 50px;
  width: calc(100% / 3);
  margin: 0 auto;
}
.greca .progress {
  height: 0.5rem;
  background-color: white;
}
#portfolio .greca .progress,
#contact .greca .progress {
  height: 0.5rem;
  background-color: #2c3e50;
}

#portfolio .greca .fa-star,
#contact .greca .fa-star {
  color: #2c3e50;
}

#contact .row input,
#contact .row textarea {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

/* Header */
header {
  background-color: #2c3e50;
}

.title {
  line-height: 100px;
}
#slices {
  filter: invert(1);
}
#burger {
  border-color: white;
}

/* Jumbotron */
#jumbotron {
  background-color: #1abc9c;
}
#avatar {
  width: 200px;
  margin: 0 auto;
}

/* Portfolio */
#portfolio {
  background-color: white;
}

/* About */
#about {
  background-color: #1abc9c;
}
#about .btn:hover {
  background-color: #3e546d;
}

/* Contact */
#contact {
  background-color: white;
}
button.btn-download {
  border-color: white;
  background-color: #1abc9c;
}

#contact-box {
  width: 70%;
  margin: 0 auto;
}

#contact .row .btn:hover {
  background-color: #3e546d;
}

/* Footer */
footer,
footer ul.list-group li {
  background-color: #3a546d;
  color: white;
}
#copyright {
  height: 100px;
  position: relative;
  background-color: #2c3e50;
}

footer .list-group li {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

footer .list-group li:hover {
  background-color: #6e89a3;
}

/* @media screen and (max-width: 992px) {
  #start-home {
    display: none;
  }
} */

/* @media screen and (min-width: 992px) {
  #boot {
    display: none;
  }
  #start-boot {
    display: flex;
    font-size: 1.5rem;
  }
} */
